<h2>User info</h2>
 <%= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img",fallback: "no_image.jpg" %>

<%= @user.name %>

<%= link_to edit_user_registration_path(current_user.id) do %>
	<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	<% end %>