<div class="container">
	<%= render 'layouts/notifications' %>
	<div class="row"></div>
	<div class="main col-6 offset-3">
		<h1 class="mt-5">welcome to <strong><i class="fas fa-book"></i>Bookers</strong> !!</h1>

		<p class="">In <strong><i class="fas fa-book"></i>Bookers</strong>,<br>
			you can share and exchange your opinions , inpressions , and emotionsb<br>
			about various books!
		</p>

		<%= link_to "Log in", new_user_session_path, class: "col-10 offset-1 btn btn-info btn-block my-0" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "col-10 offset-1 btn btn-success btn-block my-0" %>
	</div>
</div>
</div>